/* Simple web*/
.imgperro{
    width:200px
    
}


/*Horari */
table td {
    border: 1px solid;
    color:black
}

.centro {
    text-align: center;
}

.horari {
    background-color: blue;
    color:crimson;
}


.horarismx {
    background-color: yellow;
    color:rgb(239 15 15);
}

.hora {
    background-color: purple;
    color:rgb(57, 57, 255);
}

.dia {
    background-color: grey;
    color:black;
}

.pati{
    background-color:black;
    color:white;
}

.serveis {
    background-color:rgb(18, 90, 60);
    color:chocolate;
}

.seguretat{
    background-color: royalblue;
    color:tomato;
}

.aplicacions{
    background-color:aquamarine;
    color:brown;
}

.sistemes{
    background-color:bisque;
    color:yellowgreen;
}

.eie{
    background-color:darkgray;
    color:yellow
}

.web{
    background-color: blue;
    color:black;
}