/*-----------------------Simple web-----------------------*/
.imgperro{
    width:200px
    
}


/*-----------------------Horari-----------------------*/
table td {
    border: 1px solid;
    color:black
}

.centro {
    text-align: center;
}

.horari {
    background-color: blue;
    color:crimson;
}


.horarismx {
    background-color: yellow;
    color:rgb(239 15 15);
}

.hora {
    background-color: purple;
    color:rgb(57, 57, 255);
}

.dia {
    background-color: grey;
    color:black;
}

.pati{
    background-color:black;
    color:white;
}

.serveis {
    background-color:rgb(18, 90, 60);
    color:chocolate;
}

.seguretat{
    background-color: royalblue;
    color:tomato;
}

.aplicacions{
    background-color:aquamarine;
    color:brown;
}

.sistemes{
    background-color:bisque;
    color:yellowgreen;
}

.eie{
    background-color:darkgray;
    color:yellow
}

.web{
    background-color: blue;
    color:black;
}


/*----------------------------FLEX HORARI---------------------------------*/

.flex-container-horari{
    border:1px solid black;
    padding:20px;
    display:flex;
    width:800px;
    height:800px;
    background-color: blanchedalmond;
}

.Box{
    border:1px solid black;
    text-align:center;
}

.TitolHorari{
    line-height:100px;
    width:100px;
    height:100px;
    background-color:rgb(165, 155, 155);
}

.SMX{
    line-height:50px;
    width:400px;
    height:50px;
    background-color:wheat;
}

.Dies{
    width:57px;
    
}

